<section class="stats-band py-5 my-1">
  <div class="dre-container">
    <div class="row text-center g-4">
      <div class="col-6 col-md-3 stat-block reveal">
        <div class="num" data-counter="312" data-suffix="+">0+</div>
        <div class="lbl">Keywords ranked #1&ndash;3</div>
      </div>
      <div class="col-6 col-md-3 stat-block reveal">
        <div class="num" data-counter="4.6" data-suffix="x">0x</div>
        <div class="lbl">Avg. organic traffic growth</div>
      </div>
      <div class="col-6 col-md-3 stat-block reveal">
        <div class="num" data-counter="180" data-suffix="+">0+</div>
        <div class="lbl">Projects delivered</div>
      </div>
      <div class="col-6 col-md-3 stat-block reveal">
        <div class="num" data-counter="97" data-suffix="%">0%</div>
        <div class="lbl">Client retention rate</div>
      </div>
    </div>
  </div>
</section>
